
$bgcolor : rgb(0, 140, 255);

html, body {
  font-family: "Roboto", sans-serif;
  background: $bgcolor;
}

h1 {
  font-weight: 500;
  color: rgb(235, 235, 235);
}

.table {
  table-layout: fixed;
  background-color: rgb(231, 231, 231);
}

.col-small{
  width: 150px;
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-add{
  margin: 20px;
  align-self: center;
  justify-self: right;
}

.quantity-input{
  width: 65px;
}

.buy-check{
  align-self: center;
  justify-self: center;
  -webkit-transform: scale(1.5);
}

.check-col{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.form-buy{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}