
$bgcolor : rgb(85, 190, 255);

html, body {
  font-family: "Roboto", sans-serif;
  background: $bgcolor;
}

.table {
  table-layout: fixed;
  background-color: rgb(231, 231, 231);
}

.col-small{
  width: 15%;
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-add{
  margin: 20px;
  align-self: center;
  justify-self: right;
}

